h1 {
  color: red;
}

li em {
  color: rebeccapurple;
}
h1 + p {
  font-size: 200%;
}

a:link {
  color: pink;
}

a:visited {
  color: green;
}

a:hover {
  text-decoration: none;
}

/* body {
  background-color: pink;
} */

/* @media (min-width: 30em) {
  body {
    background-color: blue;
  }
} */

body p + p{
  color: aqua;
}